[Unit]
Description=e-Navigation AtoN Service
After=syslog.target

[Service]
ExecStart=/opt/e-nav/atonService/atonService.jar

[Install]
WantedBy=multi-user.target